# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/


# ==========================================
# VS Code
# ==========================================

.vscode/


# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/


# ==========================================
# Raw Data
# ==========================================

data/raw/*.xlsx
data/raw/*.xls
data/raw/*.csv


# ==========================================
# Processed Data
# ==========================================

data/processed/*


# ==========================================
# Generated Outputs
# ==========================================

outputs/figures/*
outputs/tables/*
outputs/models/*


# ==========================================
# Environment Variables / Secrets
# ==========================================

.env
.env.*


# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db